.settings{
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 100%;
    margin-left: 659px;
    position: absolute;
    margin-top: -23px;
}
.ayuda a{
    color: #862020;
    text-decoration: none;
    position:absolute;
    margin-top: 200px;
    animation: fadeIn 0.3s ease-in;
}
